.page-wrapper {
  background-image:url("../assets/landing.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.tracker-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin-top: 4rem;
}

.calendar {
  width: 90%;
}

.form-section {
  width: 35%;
  background: rgba(255, 255, 255, 0.85);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
